@using Microsoft.Web.Mvc
@using Northwind.Web.Mvc.Controllers
@using Northwind.Web.Mvc.Controllers.Organization<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <div id="mainContent">
            <div class="columnsContainer">
                <div class="leftColumn">
                    <p>
                        @this.Html.Image("~/Content/Images/sharp_arch.jpg")
                    </p>
                    <h2>Example Pages</h2>
                    <ul>
                        <li>@(this.Html.ActionLink<HomeController>(a => a.Index(), "Home"))</li>
                        <li>@(this.Html.ActionLink<CategoriesController>(a => a.Index(), "List Categories"))</li>
                        <li>@(this.Html.ActionLink<CustomersController>(a => a.Index(), "List Customers with Lazily Loaded Orders"))</li>
                        <li>@(this.Html.ActionLink<EmployeesController>(a => a.Index(), "Employee CRUD with Validation"))</li>
                        <li>@(this.Html.ActionLink<EmployeeRiaController>(a => a.Index(), "Employee CRUD RIA Sample"))</li>
                        <li>@(this.Html.ActionLink<DashboardController>(a => a.Index(), "Dashboard Controller using an 'Application Service'"))</li>                                            
                    </ul>
                </div>
                <!--/leftColumn-->

                <div class="rightColumn">@(this.RenderSection("MainContentPlaceHolder"))</div><!--/rightColumn-->

               <div class="clear">
               </div>

           </div><!--/columnsContainer-->
           
           <div id="sharpArchLogo">@this.Html.Image("~/Content/Images/sharp_arch_small.gif")</div>

       </div><!--/mainContent-->
   </div><!--/page-->
</body>
</html>
    
